@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: paksa pakai Roboto */
body {
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
